<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>Cats</title>
</head>

<body>
    <div class="container">
        <h1>CAT DETAILS</h1>
        <div class="detail bg-light">
            <p>Name:
                <%= cat.name %>
            </p>
            <p>Favorite Food:
                <% for(let i in cat.food) {%>
                <% if(i == cat.food.length - 1) {%>
                and
                <%= cat.food[i] %>
                <% } else { %>
                <%= cat.food[i] %>,
                <% } %>
                <% } %>
            </p>
            <p>Age:
                <%= cat.age %>
            </p>
            <p>Spleeping Spots:
                <% for(let i in cat.sleeping_spots) {%>
                <% if(i == cat.sleeping_spots.length - 1) {%>
                and
                <%= cat.sleeping_spots[i] %>
                <% } else { %>
                <%= cat.sleeping_spots[i] %>,
                <% } %>
                <% } %>
            </p>

            <a href="/cats" class="btn btn-danger">Go Back</a>
        </div>
    </div>
</body>

</html>